<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MCLauncherW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MCLauncherW.Properties.Settings>
            <setting name="javaVM" serializeAs="String">
                <value>C:\Program Files\Java\jre7\bin\javaw.exe</value>
            </setting>
            <setting name="playerName" serializeAs="String">
                <value />
            </setting>
            <setting name="playerPswd" serializeAs="String">
                <value />
            </setting>
            <setting name="x64mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="memory" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="pswdEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mcPath" serializeAs="String">
                <value />
            </setting>
        </MCLauncherW.Properties.Settings>
    </userSettings>
</configuration>